* {
    margin:0;
    padding:0;
}
/* header*/
.header{
    display: flex;
    background-color: #1F2937;
    font-size: 18px;
    color: #E5E7EB;
    display: flex;
    justify-content: space-between;
    padding: 16px 124px;
}
.header .logo{
    font-size: 24px;
    color: #F9FAF8;
}
.links{
    display: flex;
    gap: 16px;
}
/* hero */
.hero{
    background-color: #1F2937;
    color: #E5E7EB;
    display:flex;
    gap: 16px;
    padding: 124px;
}
.hero .primary{
    font-size: 48px;
    font-weight: bolder;
    color:#F9FAF8;
}
.hero .secondary{
    font-size: 18px;
    color: #E5E7EB;
}
.hero img{
    border-radius: 8px;
    height: 200px;
    width: 400px;
}

/* info */
#info-title{
    font-size: 36px;
    font-weight:bolder;
    color: #1F2937;
    text-align: center;
    margin: 26px 0px; 
}
/* caption will just over the width of the image */
.cards{
    display:flex;
    justify-content: space-around;
    text-align: center;
    /* gap: 16px; */
    margin: 0 64px;
    margin-bottom: 32px;
}
.cards img{
    height: 150px;
    width: 150px;
    border: 2px solid #3882f6;
    border-radius: 8px;
}
p {
    max-width: 150px;
}
/* quote */
.quote-body{
    background-color: #E5E7EB;
    padding: 80px 256px;
}
.quote-body .text{
    font-size: 22px;
    font-style: italic;
}
.quote-body .author{
    text-align: right;
    font-weight: bold;
}
/* call to action */
.call_to_action{
    background-color: #3882f6;
    display:flex;
    align-items: center;
    justify-content: space-around;
    margin: 48px;
    padding: 48px 64px;
    color: #F9FAF8;
    border-radius: 8px;
}
.call_to_action .primary{
    font-weight: bold;
}
.call_to_action .secondary{
    font-size: 12px;
}
button{
    border-radius: 8px;
    padding: 4px 16px
}
.sign-up-button{
    border-color: #F9FAF8;
    border-style: solid;
}


.footer{
    background-color: #1F2937;
    padding: 16px;
    text-align: center;
    color: #F9FAF8;
}

button{
    background-color: #3882f6;
    color: white;
}